* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

:root{
  font-size: 62.5%;

  --menu-color: #57767D;
  --menu-font-color: #f7f7f7;
  --menu-font-color-hover: #878A8C;

  --button--busca-color: #f7f7f7;
}

.section-contato {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80rem;
  margin-block: 1rem;
  margin-inline: auto; 
}

.form-group,
.form-group label,
.form-check,
#button {
  font-size: 1.4rem;
  margin-top: 1rem;
}

.form-group input {
  padding: 1rem;
}

#button {
  height: 3rem;
}

