* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

:root{
  font-size: 62.5%;

  --menu-color: #57767D;
  --menu-font-color: #f7f7f7;
  --menu-font-color-hover: #878A8C;
  --button--busca-color: #f7f7f7;

  --button-card-primary-color: #353432;
  --button-card-secundary-color: #4e4d4a;
}

section .carousel{
  margin-block: 2%;
  margin-inline: 5%;
}
section .carousel img{
  height: 30vw;
  width: 90%;
}

#titulo{
  padding-left: 5%;
}

.container {
  display: flex;
  flex-wrap: wrap;
}


.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50.4rem;
  width: 32.4rem;
  margin: 5%;
  border: #353432 solid 0.1rem;
  border-radius: 1rem;
  box-shadow: #878A8C 1rem;
  background-color: var(--menu-font-color);
}

#heart-icon {
  position: absolute;
  margin: 1rem;
  width: 3.5rem;
}

.card-imagem {
  height: 20.1rem;
  width: auto;
  background-color: var(--menu-font-color);
}

.card-title,
.card-text {
  margin-block: 4rem;
  font-size: 2rem;
}

.card-button{
  width: 70%;
  padding: 1rem;
  margin-inline: auto;

  border: 0.1rem solid var(--button-card-secundary-color);
  border-radius: 1.1rem;
  background-color: var(--button-card-primary-color);
  color: #FFF;
  font-size: 1.6rem;
  cursor: pointer;
}

.card-button:active {
  background-color: var(--button-card-secundary-color);
  border: 0.1rem solid var(--button-card-primary-color);
}


